**/__pycache__/
**/selene_sdk
**/*.tar.gz
model/berry_for_ML
model/h5_datasets
model/.ipynb_checkpoints
model/*.pth
predict/data
predict/example/hedgehog_output
predict/example/*.bed
predict/example/*.fasta
predict/example/*.fasta.fai
resources/

